{% extends 'base.html' %}
{% block body %}
<body>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>主机组</th>
                    {% ifequal user.get_role_display 'admin' %}
                        <th><span class="glyphicon glyphicon-plus" aria-hidden="true" style="cursor:pointer" ></span></th>
                    {% endifequal %}
                </tr>
            </thead>
            <tbody>
                <tr style="display:none" id="hostGroupAddId">
                    <form method="post" action="host_group.html" class="form-group" >
                        {% csrf_token %}
                        <input name="handle" value="add" type="hidden">
                        <td><input type="text" required="required" name="name"></td>
                        <td><button type="submit">确定</button></td>
                        <td><button type="reset" id="hostGroupAddCancelId">取消</button></td>
                    </form>
                </tr>
                {% for group in host_group %}
                    <tr style="display:none" id="hostGroupModifyId">
                        <form method="post" action="host_group.html" class="form-group" >
                            {% csrf_token %}
                            <input name="handle" value="modify" type="hidden">
                            <input name="id" value="{{ group.id }}" type="hidden">
                            <td><input type="text" required="required" name="name" value="{{ group.name }}"></td>
                            <td><button type="submit">确定</button></td>
                            <td><button type="reset" buttonId="hostGroupModifyCancelId">取消</button></td>
                        </form>
                    </tr>
                    <tr>
                        <td><a href="host?group={{ group.id }}">{{ group.name }}</a></td>
                        {% ifequal user.get_role_display 'admin' %}
                            <td><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="cursor:pointer"></span></td>
                            <form method="post" action="host_group.html" class="form-group" id="deleteId">
                                {% csrf_token %}
                                <input name="handle" value="delete" type="hidden">
                                <input name="name" value="{{ group.name }}" type="hidden">
                                <td><button type="submit" style="border: none;background-color:transparent;outline: none"><span class="glyphicon glyphicon-trash" aria-hidden="true" style="cursor:pointer"></span></button></td>
                            </form>
                        {% endifequal %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
        $('.glyphicon-plus').click(function(){
            $('#hostGroupAddId').attr("style","display:display");
        });
        $('.glyphicon-pencil').click(function(){
            $(this).parent().parent().attr("style","display:none");
            $(this).parent().parent().prev().attr("style","display:display");
        });
        $('#hostGroupAddCancelId').click(function(){
            $('#hostGroupAddId').attr("style","display:none");
        });
        $('[buttonId=hostGroupModifyCancelId]').click(function(){
            $(this).parent().parent().attr("style","display:none");
            $(this).parent().parent().next().attr("style","display:display");
        });
        $('form').submit(function(){
            if($(this).attr("id")=='deleteId'){
                var a = confirm('是否确认删除');
                if(a!=true){
                    event.preventDefault();
                    return
                }
            }
            event.preventDefault();
            $.ajax({
                url: '/host_group',
                type: 'POST',
                data: $(this).serialize(),
                success: function (arg) {
                    if (arg=='ok') {
                        parent.location.reload();
                    }
                    else {
                        alert(arg)
                    }
                }
            })
        })
    </script>
</body>
{% endblock %}