{% extends 'base.html' %}
{% block body %}
<body>
    <!-- 遮罩层 -->
    <div id="backdropId" class="modal-backdrop fade in" style="display:none"></div>
    <!-- 添加主机的form表单 -->
    <div id="hostAddId" style="display:none">
        <div style="background: white; width: 500px;height: 600px;margin:50px 500px">
            <form style="padding: 10px" id="hostAddFormId">
                {% csrf_token  %}
                <input type="hidden"  name="handle" value="add" >
                <div class="form-group">
                    <label style="display: block">主机名</label>
                    {{ host_form.host_name }}
                    <span id="host_name_id" style="color:red"></span>
                </div>
                <div class="form-group">
                    <label style="display: block">状态</label>
                    {{ host_form.state }}
                    <span id="state_id" style="color:red"></span>
                </div>
                <div class="form-group">
                    <label style="display: block">种类</label>
                    {{ host_form.kind }}
                    <span id="kind_id" style="color:red"></span>
                </div>
                <div class="form-group">
                    <label style="display: block">主机组</label>
                    {{ host_form.group_id }}
                    <span id="group_id_id" style="color:red"></span>
                </div>
                <div class="form-group">
                    <label style="display: block">ip</label>
                    {{ host_form.ip }}
                    <span id="ip_id" style="color:red"></span>
                </div>
                <div class="form-group">
                    <label style="display: block">用户名</label>
                    {{ host_form.username }}
                    <span id="username_id" style="color:red"></span>
                </div>
                <div class="form-group">
                    <label style="display: block">密码</label>
                    {{ host_form.password }}
                    <span id="password_id" style="color:red"></span>
                </div>
                <button type="submit" class="btn btn-default" id="hostAddButtonId">添加</button>
                <button type="reset" class="btn btn-default" style="margin-left: 200px" id="hostAddHideId">取消</button>
            </form>
        </div>
    </div>
    <!-- 修改主机的form表单 -->
    <div id="hostModifyId" style="display:none">
        <div style="background: white; width: 500px;height: 600px;margin:50px 500px">
            <form style="padding: 10px" id="hostModifyFormId">
                {% csrf_token  %}
                <input type="hidden"  name="id">
                <input type="hidden"  name="handle" value="modify" >
                <div class="form-group">
                    <label style="display: block">主机名</label>
                    {{ host_form.host_name }}
                    <span id="host_name_modify_id" style="color:red"></span>
                </div>
                <div class="form-group">
                    <label style="display: block">状态</label>
                    {{ host_form.state }}
                    <span id="state_modify_id" style="color:red"></span>
                </div>
                <div class="form-group">
                    <label style="display: block">种类</label>
                    {{ host_form.kind }}
                    <span id="kind_modify_id" style="color:red"></span>
                </div>
                <div class="form-group">
                    <label style="display: block">主机组</label>
                    {{ host_form.group_id }}
                    <span id="group_id_modify_id" style="color:red"></span>
                </div>
                <div class="form-group">
                    <label style="display: block">ip</label>
                    {{ host_form.ip }}
                    <span id="ip_modify_id" style="color:red"></span>
                </div>
                <div class="form-group">
                    <label style="display: block">用户名</label>
                    {{ host_form.username }}
                    <span id="username_modify_id" style="color:red"></span>
                </div>
                <div class="form-group">
                    <label style="display: block">密码</label>
                    {{ host_form.password }}
                    <span id="password_modify_id" style="color:red"></span>
                </div>
                <button type="submit" class="btn btn-default" id="hostModifyButtonId">修改</button>
                <button type="reset" class="btn btn-default" style="margin-left: 200px" id="hostModifyHideId">取消</button>
            </form>
        </div>
    </div>
    <nav class="navbar navbar-inverse" style="margin: 0">
        <p class="navbar-brand" >HostManage</p>
        <!-- 注销 -->
        <div class="navbar-brand btn-group " style="margin-right:50px;float: right" >
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
                {{ request.user.username }}
                <span class="caret">
                </span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/logout">注销</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron" style="padding: 25px 0;width: 20%;height: 100%;position:fixed">
          <ul class="nav " id="myTabs">
                <li><a href="/host" class="list-group-item active" style="padding-left: 30px;border-radius:0;background-color: #eee;border: 0">主机管理</a></li>
                <li><a href="/host_group" class="list-group-item" style="padding-left: 30px;border-radius:0;background-color: #eee;border: 0">主机组管理</a></li>
                {% ifequal user.get_role_display 'admin' %}
                    <li><a href="/user" class="list-group-item" style="padding-left: 30px;border-radius:0;background-color: #eee;border: 0">用户管理</a></li>
                {% endifequal %}
          </ul>
    </div>
    <div style="margin:20px 0 0 340px" class="tab-content">
        <iframe id="myframe" src="/host" height="500px" width="1000px" frameborder="0"></iframe>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
        $('#hostAddHideId').click(function(){
            <!-- 隐藏添加主机的form表单 -->
            $(this).siblings().find("span").text('');
            $('#backdropId').attr("style","display:none");
            $('#hostAddId').attr("style","display:none")
        });
        $('#hostModifyHideId').click(function(){
            <!-- 隐藏修改主机的form表单 -->
            $(this).siblings().find("span").text('');
            $('#backdropId').attr("style","display:none");
            $('#hostModifyId').attr("style","display:none")
        });
        $('.list-group-item').click(function(e){
            e.preventDefault();
            $(this).parent().siblings().children().removeClass('active');
            $(this).addClass('active');
            $('#myframe').attr('src', $(this).attr("href"))
        });
        $('#hostAddFormId').submit(function(){
            $(this).find("span").text('');
            <!-- 通过ajax提交添加主机的form表单 -->
            event.preventDefault();
            $.ajax({
                url:'/host',
                type:'POST',
                data:$('#hostAddFormId').serialize(),
                success:function (arg) {
                    if(arg=='ok'){
                        <!-- 提示修改成功，刷新页面 -->
                        alert('添加成功');
                        return
                    }
                    <!-- 显示错误信息 -->
                    var error_dict = JSON.parse(arg);
                    if(error_dict.hasOwnProperty('host_name')){
                        $('#host_name_id').text(error_dict['host_name'][0]['message'])
                    }
                    if(error_dict.hasOwnProperty('state')){
                       $('#state_id').text(error_dict['state'][0]['message'])
                    }
                    if(error_dict.hasOwnProperty('kind')){
                       $('#kind_id').text(error_dict['kind'][0]['message'])
                    }
                    if(error_dict.hasOwnProperty('group_id')){
                       $('#group_id_id').text(error_dict['group_id'][0]['message'])
                    }
                    if(error_dict.hasOwnProperty('ip')){
                       $('#ip_id').text(error_dict['ip'][0]['message'])
                    }
                    if(error_dict.hasOwnProperty('username')){
                       $('#username_id').text(error_dict['username'][0]['message'])
                    }
                    if(error_dict.hasOwnProperty('password')){
                       $('#password_id').text(error_dict['password'][0]['message'])
                    }
                }
            })
        });
        $('#hostModifyFormId').submit(function(){
            $(this).find("span").text('');
            <!-- 通过ajax提交修改主机的form表单 -->
            event.preventDefault();
            $.ajax({
                url:'/host',
                type:'POST',
                data:$('#hostModifyFormId').serialize(),
                success:function (arg) {
                    if(arg=='ok'){
                        <!-- 提示修改成功，刷新页面 -->
                        alert('修改成功');
                        location.reload()
                    }
                    <!-- 显示错误信息 -->
                    var error_dict = JSON.parse(arg);
                    if(error_dict.hasOwnProperty('host_name')){
                        $('#host_name_modify_id').text(error_dict['host_name'][0]['message'])
                    }
                    if(error_dict.hasOwnProperty('state')){
                       $('#state_modify_id').text(error_dict['state'][0]['message'])
                    }
                    if(error_dict.hasOwnProperty('kind')){
                       $('#kind_modify_id').text(error_dict['kind'][0]['message'])
                    }
                    if(error_dict.hasOwnProperty('group_id')){
                       $('#group_id_modify_id').text(error_dict['group_id'][0]['message'])
                    }
                    if(error_dict.hasOwnProperty('ip')){
                       $('#ip_modify_id').text(error_dict['ip'][0]['message'])
                    }
                    if(error_dict.hasOwnProperty('username')){
                       $('#username_modify_id').text(error_dict['username'][0]['message'])
                    }
                    if(error_dict.hasOwnProperty('password')){
                       $('#password_modify_id').text(error_dict['password'][0]['message'])
                    }
                }
            })
        });
        function modify(data_dict) {
            <!-- 获取主机信息，并显示在form表单里 -->
            $('#hostModifyFormId').find("[name='id']").val(data_dict['id']);
            $('#hostModifyFormId').find("[name='host_name']").val(data_dict['host_name']);
            $('#hostModifyFormId').find("option:contains('"+data_dict['state']+"')").attr("selected",true);
            $('#hostModifyFormId').find("option:contains('"+data_dict['kind']+"')").attr("selected",true);
            $('#hostModifyFormId').find("option:contains('"+data_dict['group_id']+"')").attr("selected",true);
            $('#hostModifyFormId').find("[name='ip']").val(data_dict['ip']);
            $('#hostModifyFormId').find("[name='username']").val(data_dict['username']);
            $('#hostModifyFormId').find("[name='password']").val(data_dict['password']);
        }
    </script>
</body>
{% endblock %}


