{% extends 'base.html' %}
{% block body %}
    <body>
    <form class="form-horizontal" action="user" method="post">
        {% csrf_token %}
        {% ifequal user_id 'new' %}
            <input type="hidden"  name="handle" value="add" >
        {% else %}
            <input type="hidden"  name="handle" value="modify" >
            <input type="hidden"  name="id" value="{{ user_id }}" >
        {% endifequal %}
        <div class="form-group" style="width: 50%">
            <label class="col-sm-2 control-label">username</label>
            <div class="col-sm-10">
                {% ifequal user_id 'new' %}
                    <input class="form-control" placeholder="username" name="username">
                {% else %}
                    <input class="form-control" placeholder="{{ username }}" name="username" disabled>
                {% endifequal %}
            </div>
        </div>
        <div class="form-group" style="width: 50%">
            <label class="col-sm-2 control-label">password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control"placeholder="password" name="password">
            </div>
        </div>
        <div class="form-group" style="width: 50%">
            <label class="col-sm-2 control-label">name</label>
            <div class="col-sm-10">
                <input class="form-control"placeholder="name" name="name">
            </div>
        </div>
        <div class="form-group" style="width: 50%">
            <label class="col-sm-2 control-label">role</label>
            <div class="col-sm-10">
                <select class="form-control" name="role">
                    <option value="1">admin</option>
                    <option value="2">user</option>
                </select>
            </div>
        </div>
        <div class="form-group" style="width: 50%">
            <label class="col-sm-2 control-label">host</label>
            <div class="col-sm-10">
                <select multiple class="form-control" name="host">
                    {% for host in host_list %}
                        <option value="{{ host.id }}">{{ host }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group" style="width: 50%">
            <label class="col-sm-2 control-label">host_group</label>
            <div class="col-sm-10">
                <select multiple class="form-control" name="host_group">
                    {% for group in group_list %}
                        <option value="{{ group.id }}">{{ group }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="reset" class="btn btn-primary" style="float: right" onclick="window.location.href='user'">取消</button>
        <button type="submit" class="btn btn-primary" style="float: right;margin-right: 10px">确定</button>
    </form>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    </body>
{% endblock %}